
@font-face {
  font-family: "IBM_VGA";
  src: url("fonts/Web437_IBM_VGA_9x16.woff") format('woff');
}

:root {
  --mint-color: #32a885
}
body {
    max-width: 800px;
    margin: auto;
    border: 5px double var(--mint-color);
    padding: 5px;
    background-color: black;
    color: var(--mint-color);
    font-family: "IBM_VGA";
}

h1 {
  background-color: var(--mint-color);
  color: black;
  padding: 0 15px;
  letter-spacing: 10px;
  margin: 0;
}

p {
  padding: 0 13px;
}

.project-menu {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  padding: auto;
  align-items: center;
}

.project-thumbnail {
  border: 3px solid var(--mint-color);
  max-height: 350px;
  max-width: 350px; 
  justify-content: center;
}

header {
  font-size: 20px;
  margin: 10px 5px;
}
footer {
  padding: 10px;
  text-align: center;
  background-color: var(--mint-color);
  color: black;
  margin-top: 20px 
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;

}

nav ul li a {
  display: block;
  padding: 3px 10px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color:  var(--mint-color);
  color: black
}

a:visited {
  color: var(--mint-color);
}

a {
  color: var(--mint-color);
}

#home-button {
    margin-left: 0px;
    text-align: left;
    float: left;
}