
@font-face {
  font-family: "IBM_VGA";
  src: url("fonts/Web437_IBM_VGA_9x16.woff") format('woff');
}


:root {
  ---main-color: #32a885;
  ---text-color: white;
}

html, body {
  height: 100%;
}
body {
    max-width: 800px;
    height: auto;
    margin: auto;
    border: 5px double var(---main-color);
    padding: 5px;
    background-color: black;
    color: var(---text-color);
    font-family: "IBM_VGA";
    --bold-color: white;
}

h1 {
  background-color: var(---main-color);
  color: black;
  padding: 0 15px;
  letter-spacing: 10px;
  margin: 0;
}

li {
  list-style:square;
  margin: 5px 0px;
}

h2 {
  padding: 0 15px;
  color: var(---main-color);
}

p {
  padding: 0 13px 0 13px;
}

.project-menu {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  padding: auto;
  align-items: center;
  justify-content: center;
}

.project-thumbnail {
  border: 3px solid var(---main-color);
  max-height: 350px;
  max-width: 350px; 
  justify-content: center;
  margin: 15px
}

.project-thumbnail a {
  text-align: center;
}

header {
  font-size: 20px;
  margin: 10px 5px;
}
footer {
  padding: 10px;
  text-align: center;
  background-color: var(---main-color);
  color: black;
  margin-top: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

 #home-button {
    font-size: 28px;
}

@media  (max-width: 500px) {
  nav ul {
    display: block;
  }
  nav ul li {
    display: block;
  }
}

nav ul li {
  list-style: none;
  align-content: bottom;
}
nav ul li a {
  display: block;
  text-decoration: none;
  color: var(---text-color);
}

nav ul li a:hover {
  background-color:  var(---main-color);
  color: black;
}

a:visited {
  color: inherit;
}

a {
  color: var(---main-color);
}

p a {
  text-decoration: underline;
  color: white;
}

.video-container {
  align-items: center;
  margin: 40px auto;
  flex:1;
  max-width:100%;
  display: flex;
  justify-content: center;
}